<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="mt-3">
        <img class="logo" src="/assets/images/logo_medio_oriente-removebg-preview.png" alt="logo">
        <h4>Arte del &nbsp;<span>Medio Oriente</span></h4>
      </a>
    </div>
    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['']">Home</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['']">Almacen</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['']">Acerca de</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['']">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>